In [1]:
import pandas as pd
import numpy as np

In [16]:
df = pd.read_csv('datasets/iris.txt', names=['Sepal_lengh', 'Sepal_width', 'Petal_lengh', 'Petal_width', 'Class'])
df

     Sepal_lengh  Sepal_width  Petal_lengh  Petal_width            Class
0            5.9          3.0          4.2          1.5  Iris-versicolor
1            6.9          3.1          4.9          1.5  Iris-versicolor
2            6.6          2.9          4.6          1.3  Iris-versicolor
3            4.6          3.2          1.4          0.2      Iris-setosa
4            6.0          2.2          4.0          1.0  Iris-versicolor
..           ...          ...          ...          ...              ...
145          5.4          3.4          1.7          0.2      Iris-setosa
146          5.5          2.6          4.4          1.2  Iris-versicolor
147          6.7          3.0          5.2          2.3   Iris-virginica
148          7.7          3.8          6.7          2.2   Iris-virginica
149          5.1          3.4          1.5          0.2      Iris-setosa

[150 rows x 5 columns]

# Descritization

In [17]:
sl_range = [4.30, 5.55, 6.15, 7.90]
sl_labels = ['sl1', 'sl2', 'sl3']
df.Sepal_lengh = pd.cut(df.Sepal_lengh, sl_range, labels=sl_labels, retbins=False)

sw_range = [2.00, 2.95, 3.35, 4.40]
sw_labels = ['sw1', 'sw2', 'sw3']
df.Sepal_width = pd.cut(df.Sepal_width, sw_range, labels=sw_labels, retbins=False)

pl_range = [1.00, 2.45, 4.75, 6.90]
pl_labels = ['pl1', 'pl2', 'pl3']
df.Petal_lengh = pd.cut(df.Petal_lengh, pl_range, labels=pl_labels, retbins=False)

pw_range = [0.10, 0.80, 1.75, 2.50]
pw_labels = ['pw1', 'pw2', 'pw3']
df.Petal_width = pd.cut(df.Petal_width, pw_range, labels=pw_labels, retbins=False)

df

    Sepal_lengh Sepal_width Petal_lengh Petal_width            Class
0           sl2         sw2         pl2         pw2  Iris-versicolor
1           sl3         sw2         pl3         pw2  Iris-versicolor
2           sl3         sw1         pl2         pw2  Iris-versicolor
3           sl1         sw2         pl1         pw1      Iris-setosa
4           sl2         sw1         pl2         pw2  Iris-versicolor
..          ...         ...         ...         ...              ...
145         sl1         sw3         pl1         pw1      Iris-setosa
146         sl1         sw1         pl2         pw2  Iris-versicolor
147         sl3         sw2         pl3         pw3   Iris-virginica
148         sl3         sw3         pl3         pw3   Iris-virginica
149         sl1         sw3         pl1         pw1      Iris-setosa

[150 rows x 5 columns]

In [25]:
for col in df.columns: 
    print('Number Of Unique Values Of ' + col + ' : ' + str(df[col].nunique()))

Number Of Unique Values Of Sepal_lengh : 3
Number Of Unique Values Of Sepal_width : 3
Number Of Unique Values Of Petal_lengh : 3
Number Of Unique Values Of Petal_width : 3
Number Of Unique Values Of Class : 3

# ARM (Associative Rule Mining)

In [30]:
df_onehot = df.copy()
cols = df_onehot.columns

for col in df_onehot.columns: 
    one_hot_temp = pd.get_dummies(df_onehot[col])
    df_onehot = pd.concat([df_onehot, one_hot_temp], axis=1)
    
df_onehot = df_onehot.drop(cols, axis=1)
df_onehot

,sl1,sl2,sl3,sw1,sw2,sw3,pl1,pl2,pl3,pw1,pw2,pw3,Iris-setosa,Iris-versicolor,Iris-virginica
0,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0
1,0,0,1,0,1,0,0,0,1,0,1,0,0,1,0
2,0,0,1,1,0,0,0,1,0,0,1,0,0,1,0
3,1,0,0,0,1,0,1,0,0,1,0,0,1,0,0
4,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0
146,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0
147,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1
148,0,0,1,0,0,1,0,0,1,0,0,1,0,0,1
149,1,0,0,0,0,1,1,0,0,1,0,0,1,0,0

In [32]:
from mlxtend.frequent_patterns import apriori, association_rules

df_apriori = apriori(df_onehot, min_support = 0.3, use_colnames = True, verbose = 1)
df_apriori

Processing 4 combinations | Sampling itemset size 432

c:\Users\Codoush\AppData\Local\Programs\Python\Python310\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                    itemsets
0   0.386667                       (sl1)
1   0.366667                       (sl3)
2   0.373333                       (sw1)
3   0.380000                       (sw2)
4   0.326667                       (pl1)
5   0.300000                       (pl2)
6   0.366667                       (pl3)
7   0.360000                       (pw2)
8   0.306667                       (pw3)
9   0.333333               (Iris-setosa)
10  0.333333           (Iris-versicolor)
11  0.333333            (Iris-virginica)
12  0.300000                  (pl1, sl1)
13  0.306667          (Iris-setosa, sl1)
14  0.326667          (Iris-setosa, pl1)
15  0.300000                  (pl2, pw2)
16  0.306667                  (pl3, pw3)
17  0.326667       (pl3, Iris-virginica)
18  0.326667      (Iris-versicolor, pw2)
19  0.300000       (pw3, Iris-virginica)
20  0.300000     (Iris-setosa, pl1, sl1)
21  0.300000  (pl3, pw3, Iris-virginica)

In [33]:
df_ar = association_rules(df_apriori, metric = "confidence", min_threshold = 0.8)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(pl1),(sl1),0.326667,0.386667,0.300000,0.918367,2.375088,0.173689,7.513333
1,(Iris-setosa),(sl1),0.333333,0.386667,0.306667,0.920000,2.379310,0.177778,7.666667
2,(Iris-setosa),(pl1),0.333333,0.326667,0.326667,0.980000,3.000000,0.217778,33.666667
3,(pl1),(Iris-setosa),0.326667,0.333333,0.326667,1.000000,3.000000,0.217778,inf
4,(pl2),(pw2),0.300000,0.360000,0.300000,1.000000,2.777778,0.192000,inf
5,(pw2),(pl2),0.360000,0.300000,0.300000,0.833333,2.777778,0.192000,4.200000
6,(pl3),(pw3),0.366667,0.306667,0.306667,0.836364,2.727273,0.194222,4.237037
7,(pw3),(pl3),0.306667,0.366667,0.306667,1.000000,2.727273,0.194222,inf
8,(pl3),(Iris-virginica),0.366667,0.333333,0.326667,0.890909,2.672727,0.204444,6.111111
9,(Iris-virginica),(pl3),0.333333,0.366667,0.326667,0.980000,2.672727,0.204444,31.666667
10,(Iris-versicolor),(pw2),0.333333,0.360000,0.326667,0.980000,2.722222,0.206667,32.000000
11,(pw2),(Iris-versicolor),0.360000,0.333333,0.326667,0.907407,2.722222,0.206667,7.200000
12,(pw3),(Iris-virginica),0.306667,0.333333,0.300000,0.978261,2.934783,0.197778,30.666667
13,(Iris-virginica),(pw3),0.333333,0.306667,0.300000,0.900000,2.934783,0.197778,6.933333
14,"(Iris-setosa, pl1)",(sl1),0.326667,0.386667,0.300000,0.918367,2.375088,0.173689,7.513333
15,"(Iris-setosa, sl1)",(pl1),0.306667,0.326667,0.300000,0.978261,2.994676,0.199822,30.973333
16,"(pl1, sl1)",(Iris-setosa),0.300000,0.333333,0.300000,1.000000,3.000000,0.200000,inf
17,(Iris-setosa),"(pl1, sl1)",0.333333,0.300000,0.300000,0.900000,3.000000,0.200000,7.000000
18,(pl1),"(Iris-setosa, sl1)",0.326667,0.306667,0.300000,0.918367,2.994676,0.199822,8.493333
19,"(pl3, pw3)",(Iris-virginica),0.306667,0.333333,0.300000,0.978261,2.934783,0.197778,30.666667
20,"(pl3, Iris-virginica)",(pw3),0.326667,0.306667,0.300000,0.918367,2.994676,0.199822,8.493333
21,"(pw3, Iris-virginica)",(pl3),0.300000,0.366667,0.300000,1.000000,2.727273,0.190000,inf
22,(pl3),"(pw3, Iris-virginica)",0.366667,0.300000,0.300000,0.818182,2.727273,0.190000,3.850000
23,(pw3),"(pl3, Iris-virginica)",0.306667,0.326667,0.300000,0.978261,2.994676,0.199822,30.973333
24,(Iris-virginica),"(pl3, pw3)",0.333333,0.306667,0.300000,0.900000,2.934783,0.197778,6.933333